body {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#wrapper {
	display: grid;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50vw;
  text-align: center;
}

.left-half {
  background: #ff9e2c;
  grid-column: 1;
}

.right-half {
  background: #1ed6da;
  grid-column: 2;
}